


<!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    
    <section id="wrapper" class="login-register " style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card" style="width: 500px;">
            <div class="card-body">
                <form  [formGroup]="miFormulario" class="form-horizontal form-material" id="loginform"  (ngSubmit)="registerUser()"  action="index.html">
                    <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                    <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input 
                            class="form-control" 
                            type="text" 
                            required="" 
                            placeholder="Name"
                            formControlName = "name"
                            >
                        </div>
                        <div>
                            <label class="text-danger" *ngIf="fieldNotValid('name') == true">Debe introducir un nombre de usuario </label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input 
                            class="form-control" 
                            type="text" required="" 
                            placeholder="Email"
                            
                            formControlName = "email">
                        </div>
                        
                        <div>
                            <label class="text-danger" *ngIf="fieldNotValid('email') == true">Debe introducir un correo valido </label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col">
                                <input 
                                id="password1"
                                class="form-control"
                                type= "password"
                                 required="" 
                                 placeholder="Password"
                                 formControlName = "password">
                            </div>
    
                            <div class="col">
                                <input 
                                id="password2"
                                class="form-control" 
                                type= "password"
                                required=""
                                 placeholder="Confirm Password"
                                 formControlName = "password2">
                            </div>
                            


                        </div>
        
                        <div class="checkbox checkbox-primary p-t-0">
                            <input 
                            id="checkbox-password" 
                            type="checkbox"
                            (click)="showPassword()"
                            >
                            <label for="checkbox-password"> Show Password</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="text-danger" *ngIf="fieldNotValid('password') == true"> Debe introducir un password al menos de 8 caracteres y que contenga al menos una Mayuscula y numeros</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="text-danger" *ngIf="fieldNotValid('password2') == true"> Los password deben ser iguales</label>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input 
                                id="checkbox-signup" 
                                type="checkbox"
                                formControlName = "termCondition">
                                <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                            </div>
                            <div>
                                <label class="text-danger" *ngIf="termNotValid() == true">Debe aceptar los terminos y condiciones </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"  type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a routerLink="/login" class="text-info m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>