<div class="row">
    <div class="col-4">
        <app-doughnut [newdata] = "newdata"    [doughnutChartLabels] = "doughnutChartLabels"  [title] = "title"  ></app-doughnut>
    </div>
    <div class="col-4">
        <app-doughnut [newdata] = "newdata"    [doughnutChartLabels] = "doughnutChartLabels"  [title] = "title"  ></app-doughnut>
    </div>
    <div class="col-4">
        <app-doughnut [newdata] = "newdata"    [doughnutChartLabels] = "doughnutChartLabels"  [title] = "title"  ></app-doughnut>
    </div>
    <div class="col-4">
        <app-doughnut [newdata] = "newdata"    [doughnutChartLabels] = "doughnutChartLabels"  [title] = "title"  ></app-doughnut>
    </div>

 

</div>



